body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px lightblue;
  padding: 10px;
}

.logo-img {
  width: 40px;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:azure;
  padding: 10px;
}

.main-container {
  padding: 20px;
}