body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif; 
}

.navbar-container {
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar-container > img {
    height: 25px;
}

.hero-container {
    padding: 30px;
}

.hero-container > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #222222;
}

.hero-container > h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
}

.hero-picture {
    max-width: 400px;
    margin: auto;
}

.hero-picture > img {
    width: 100%;
}

.card {
    width: 176px;
    position: relative;
}

.card-image {
    width: 100%;
    height: 235px;
}

.sold-out-badge {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: white;
    padding: 0px 5px;
    border-radius: 3px;
}

.online-badge {
    border-radius: 3px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: red;
    padding: 0px 5px;
}

.card-stats {
    display: flex;
    align-items: center;
    gap: 3px;
}

.card-star {
    width: 14px;
    height: 14px;
}

.card-stats > p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #918E9B;
    margin: 5px 0px;
}

.card-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
    margin: 5px 0px;
}

.card-price-container {
    display: flex;    
}

.card-price-container > p {
    margin: 5px 0px;
}

.card-price {
    font-weight: 600;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
}

.card-unit {
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}