body {
    background-color: #FF7C43;
}

.main {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Inter;
    align-items: center;
    padding: 20px;
}

.main > button {
    height: 40px;
    width: 300px;
    font-size: large;
}