html, body { height: 100%; margin: 0px; padding: 0px; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
  background-color: #F5F5F5;
}

#root {
  height: 100%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  background-color: transparent
}

.landing-container > button {
  width: 200px;
  height: 75px;
  color: white;
  background-color: #4A4E74;
  text-align: center;
  font-size: large;
  border: none;
  border-radius: 3px;
}

.split {
  display: flex;
}

.sidebar-header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.sidebar-header > button {
  height: 40px;
  width: 40px;
  font-size: large;
  font-weight: 700;
  background-color: #4A4E74;
  border: none;
  border-radius: 5px;
  color: #a9aaba;
}

.sidebar-notes {
  height: 100%;
}

.sidebar-notes-note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: #4A4E74;
  border: none;
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.sidebar-notes-note.selected {
  background-color: #4A4E74;
  color: #9194b2;
  font-weight: 700;
}