html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  /* background-color: blue; */
  height: 100%;
}

.App {
  height: 100%;
  background-color: #F5F7FB;
}

.landing-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-container > h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
  margin: 0;
}

.landing-container > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
}

.landing-button {
  background-color: #4D5B9E;
  width: 193px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F7FB;
  border-radius: 15px;
  margin: 20px;
}

.landing-button > h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
}

.quiz-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.quiz-questions {
  width: 80%;
}


.quiz-button {
  background-color: #4D5B9E;
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F7FB;
  border-radius: 15px;
  margin: 20px;
}

.quiz-button > h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB; 
}

.question-container {
  margin: 30px 10px;
}

.question-container > hr{
  color: #DBDEF0;
  margin-top: 20px;
}

.question-text {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */

  color: #293264;
}

.choices-container {
  display: flex;
  gap: 20px;
}

.choice-button {
  height: 20px;
  color: #4D5B9E;
  border: 1px solid #4D5B9E;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}

.choice-button > h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #293264;
}