.main {
    text-align: center;
}

.joke-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    padding: 20;
}

.joke {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    width: 200px;
    font-size: 14px;
}

.setup {
    background-color: aqua;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.punchline {
    background-color: blueviolet;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}